.b-guide {
	.__txt {
		ol {
			counter-reset: item;
			list-style: none;
			padding-left: 0;
			margin-top: 24px;

		}

		ol li {
			counter-increment: item;
			display: flex;
			gap: 12px;
			color: var(--color-brand) !important;
		}

		ol li::before {
			content: counter(item, decimal-leading-zero);
			color: #747F8E;
			font-weight: 600;
			flex-shrink: 0;
		}
	}
}